body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Roboto';
    height: 100vh;

}

.header {
    width: 1900px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    background-color: #1F2937;
    margin-top: 0;
    border: 0;
    color: #F9FAF8;

}

.logo {
    font-weight: 800;
    font-size: 28px;
    font-weight: bold;
    color: #F9FAF8;
    padding-left: 250px;
    padding-top: 10px;
}

.header-links {
    display: flex;
    flex-direction: row;
    padding-right: 250px;
    font-size: 18px;
    color: #E5E7EB;
}

.second {
    display: flex;
    height: 900vh;
    width: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #1F2937;
    padding-top: 70px;
    padding-bottom: 70px;

}

h1 {
    font-weight: bolder; 
    color: #F9FAF8;
    font-size: 48px;
}

.third {


}

.forth {


}

.fifth {


}

.footnote {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;
    color: white;
    text-align: center;

}



ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}


